<ion-view view-title="About This App">
    <ion-content has-bouncing="true">
        <app-header ng-show="data.showBranding"></app-header>
        <div class="card">

            <p ng-show="data.showBranding" ng-bind-html="(data.brandAboutText|hrefToJS)"></p>

            <p>This app was created by the MTA Bus Time Team, using
                PhoneGap,
                Ionic,
                AngularJS ,
                Leaflet, and
                the MTA Bus Time APIs.
            </p>
        </div>

        <button class="button button-full" ng-click="toggleText()">Privacy Policy</button>

        <div class="card" ng-hide="data.hideText">
            <p class="longtext" ng-repeat="p in data.privText"><span ng-bind-html="p"></span>
            </p>
        </div>

    </ion-content>
</ion-view>
