<ion-view view-title="About This App">
    <ion-content has-bouncing="true">
        <div class="card">

            <p class="">This app was created by the MTA Bus Time Team, using
                <a onClick="window.open('http://phonegap.com/', '_system', 'location=yes')">PhoneGap</a>,
                <a onClick="window.open('http://ionicframework.com/', '_system', 'location=yes')">Ionic</a>,
                <a onClick="window.open('https://angularjs.org/', '_system', 'location=yes')">AngularJS</a> ,
                <a onClick="window.open('http://leafletjs.com/', '_system', 'location=yes')">Leaflet</a>, and
                <a onClick="window.open('http://bustime.mta.info/wiki/Developers/', '_system', 'location=yes')">the MTA Bus Time APIs.</a>
            </p>
        </div>

        <button class="button button-full" ng-click="toggleText()">Privacy Policy</button>

        <div class="card" ng-hide="hideText">
            <p class="longtext" ng-repeat="p in text"><span ng-bind-html="p"></span>
            </p>
        </div>

    </ion-content>
</ion-view>
