<ion-view title="At Stop">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="refresh()" ng-disabled="data.val">
            <i class="icon ion-refresh"></i>
        </button>

        <button class="button button-clear" ng-click="addToFavorites()" ng-disabled="data.inFavorites">
            <i class="icon ion-star"></i>
        </button>
    </ion-nav-buttons>

    <ion-content ng-show="data.loaded" has-bouncing="true">
        <p>Stop: {{data.stopName}}</p>

        <p class="highlight">Service Alerts:</p>
        <p class="alerts">{{data.alerts}}</p>

        <p class="highlight">Arriving Buses:</p>

        <div ng-repeat="(routeId, info) in data.results" class="route">
            <a class="button button-full button-positive" href="#/tab/map/{{routeId}}">{{info.name}} - Map</a>
            <div class="bus" ng-repeat="item in info.distances">
                {{item.distance}}
            </div>
        </div>

        <p>{{data.notifications}}</p>
    </ion-content>
</ion-view>