<ion-view title="At Stop">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="refresh()" ng-disabled="data.val">
            <i class="icon ion-refresh"></i>
        </button>

        <button class="button button-clear" ng-click="addToFavorites()" ng-disabled="data.inFavorites">
            <i class="icon ion-star"></i>
        </button>
    </ion-nav-buttons>

    <ion-content>
        <p>Stop: {{data.stopName}}</p>

        <p>Arriving Buses:</p>
        <ion-list>
            <ion-item ng-repeat="(routeId, info) in data.results">
                <a class="button" href="#/tab/map/{{routeId}}">Map</a>
                {{info.name}}
                <ion-list>
                    <ion-item ng-repeat="item in info.distances">
                        {{item.distance}}
                    </ion-item>
                </ion-list>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>