<ion-view title="Nearby Routes &amp; Stops">
    <ion-content ng-show="data.loaded" has-bouncing="true">

        <ion-nav-buttons side="right">
            <a class="button button-clear" href="#/tab/map-nearby/{{data.lat}}/{{data.lon}}">
                <i class="icon ion-earth"></i>
            </a>
        </ion-nav-buttons>

        <p>Location: {{data.address}}</p>

        <p class="highlight">Stops &amp; Routes:</p>
        <ion-list>
            <ion-item ng-repeat="item in data.stops| limitTo:8" href="#/tab/atstop/{{item.id}}/{{item.name | encodeStopName}}">
                {{item.name}}
                <p>Routes:<span ng-repeat="r in item.routes"> {{r.shortName}} </span> 
                </p>
            </ion-item>
        </ion-list>


        <!--
        <p class="highlight">Routes:</p>
        <ion-list>
            <ion-item ng-repeat="item in data.routes |limitTo:20" href="#/tab/route/{{item.id}}/{{item.shortName}}">
                {{item.shortName}}
            </ion-item>
        </ion-list>
        -->

        <p>{{data.notifications}}</p>
    </ion-content>
</ion-view>