<ion-view view-title="Nearby Routes &amp; Stops">
    <ion-content ng-show="data.loaded" has-bouncing="true">

        <div class="list">
            <p>Location: {{data.address}}</p>
            <p class="highlight">Stops &amp; Routes:</p>


            <ion-item ng-repeat="item in ::data.stops" href="#/tab/atstop/{{item.id}}/{{item.name | encodeStopName}}">
                {{item.name}}
                <p>Routes:<span ng-repeat="r in ::item.routes"> {{r.shortName}} </span> 
                </p>
            </ion-item>
        </div>

        <p>{{data.notifications}}</p>

    </ion-content>
</ion-view>