<ion-view view-title="Map">
    <ion-nav-buttons side="secondary">
        <button class="button button-clear" ng-click="refresh()">
            <timer interval="1000" countdown="35">
                <div round-progress max="35" current="countdown" color="#387ef5" radius="11" clockwise="true" stroke="5" animation="easeInOutQuart"></div>
            </timer>
        </button>
        <button class="button button-clear {{data.favClass}}" ng-click="toggleFavorites()">
            <i class="icon ion-star"></i>
        </button>
    </ion-nav-buttons>
    <ion-content data-tap-disabled="true">
        <leaflet id="main" center="center" defaults="defaults" markers="markers" paths="paths" layers="layers"></leaflet>
    </ion-content>
</ion-view>