<ion-view title="Route Stops">
    <ion-content ng-show="data.loaded" has-bouncing="true">
        <p>Route: {{data.routeName}}</p>

        <p class="highlight">{{data.directionName}}</p>
        <ion-list>
            <ion-item ng-repeat="item in data.direction" href="#/tab/atstop/{{item.id}}/{{item.name | encodeStopName}}">
                {{item.name}}
            </ion-item>
        </ion-list>

        <p class="highlight">{{data.directionName_}}</p>
        <ion-list>
            <ion-item ng-repeat="item in data.direction_" href="#/tab/atstop/{{item.id}}/{{item.name | encodeStopName}}">
                {{item.name}}
            </ion-item>
        </ion-list>

        <p>{{data.notifications}}</p>
    </ion-content>
</ion-view>