<ion-view title="Nearby Stops & Routes">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="refresh()">
            <i class="icon ion-refresh"></i>
        </button>

        <a class="button button-clear" href="#/tab/map-nearby/{{data.lat}}/{{data.lon}}" ng-disabled="data.val">
            <i class="icon ion-earth"></i>
        </a>
    </ion-nav-buttons>

    <ion-content ng-show="data.loaded" has-bouncing="true">
        <p class="highlight">Nearby Stops:</p>

        <ion-list>
            <ion-item bindonce ng-repeat="item in data.stops | limitTo:10" href="#/tab/atstop/{{item.id}}/{{item.name | encodeStopName}}">
                {{item.name}}
                <p>Routes:<span bindonce ng-repeat="r in item.routes"> {{r.shortName}} </span>
                </p>
            </ion-item>
        </ion-list>


        <!-- Optional / Since every stop display routes passing it-->
        <!-- 
        <p class="highlight">Nearby Routes:</p>

        <ion-list>
            <ion-item ng-repeat="item in data.routes |limitTo:10" href="#/tab/route/{{item.id}}/{{item.shortName}}">
                {{item.shortName}}
            </ion-item>
        </ion-list>
        -->

        <p>{{data.notifications}}</p>
    </ion-content>
</ion-view>
