<ion-view title="Search">
    <ion-content has-bouncing="true">
        <div class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search" ng-change="autocomplete()" ng-enter="searchAndGo(data.searchKey)" ng-model="data.searchKey">
            </label>

            <ion-list>
                <ion-item ng-repeat="item in data.results" ng-click="searchAndGo(item)">
                    {{item}}
                </ion-item>
            </ion-list>
        </div>

        <p>{{data.notifications}}</p>
    </ion-content>
</ion-view>