<ion-view title="Favorites">
    <ion-content>
        <h1>Favorites</h1>

        <ion-list>
            <ion-item ng-repeat="item in data.favorites " href="#/tab/atstop/{{item.stopId}}/{{item.stopName}}">
                {{item.stopName}}
                <ion-option-button class="button-positive" ng-click="remove(item.stopId)">
                    <i class="icon ion-trash-b"></i>
                </ion-option-button>
            </ion-item>
        </ion-list>

        <p>{{data.notifications}}</p>
    </ion-content>
</ion-view>
