<ion-view title="Nearby">
    <ion-nav-buttons side="right">
    </ion-nav-buttons>

    <ion-content ng-show="data.loaded" has-bouncing="true">
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>
		<div data-tap-disabled="true">
    	<leaflet center="center" markers="markers" defaults="defaults" paths="paths" height="200px"></leaflet>
		</div>

		        <ion-list>
		            <ion-item ng-repeat="item in data.stops | orderBy:'dist' | limitTo:15">
		                {{item.name}} ({{item.direction}}-bound)
		                <div class="row">
		                   <button class="col col-20 button button-outline button-small" ng-repeat="r in item.routes" ng-click="showOnMap('route', r.id); showOnMap('stop', item.id, item.lat, item.lon, item.name);">{{r.shortName}}</button>
		                </div>
										
		                <button class="button button-positive button-small button-clear" ng-click="modal.show();getBuses(item.id);">
		                    See more
		                </button>
		            </ion-item>
		        </ion-list>

        <p>{{data.notifications}}</p>
    </ion-content>
		
    <script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">Upcoming</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Close</button>
        </ion-header-bar>
        <ion-content class="padding">
        <div bindonce ng-repeat="(routeId, info) in data.results" class=" ">
            <div class="row item item-divider">
                <div class="route col vcenter"><a href="#/tab/route/{{routeId}}/{{info.name}}">{{info.name}}</a></div>
            </div>
            <ion-list>
                <ion-item bindonce ng-repeat="item in info.distances">
                    <h2>{{item.destination}}</h2>
										{{item.distance}}
                </ion-item>
            </ion-list>
        </div>
        </ion-content>
      </ion-modal-view>
    </script>
</ion-view>
