<ion-view title="Search">
    <ion-content has-bouncing="true">

        <div class="list ">
            <div class="item-input-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" placeholder="Search" ng-change="autocomplete()" ng-enter="searchAndGo(data.searchKey)" ng-model="data.searchKey"></input>

                </label>
                <button class="button button-small" ng-click="searchAndGo(data.searchKey)">
                    Search
                </button>
            </div>
            <ion-list>
                <ion-item ng-repeat="item in data.results" ng-click="searchAndGo(item)">
                    <strong>{{item}}</strong>
                </ion-item>
            </ion-list>
        </div>

        <div class="list card" ng-show="data.showTips">

            <p>You can search for Stops, Routes, or Intersections in the bar above, or try one of the examples below:</p>
            <p><i class="item item-divider">
                Routes: &nbsp;</i>
                <i class="item"><span class="button-clear" ng-repeat="s in data.exampleRoutes" ng-click="searchAndGo(s)">{{s}} &nbsp;</span>
                </i>
            </p>
            <p>
                <i class="item item-divider">Stops:</i>
                <i class="item"><span class="button-clear" ng-repeat="s in data.exampleStops" ng-click="searchAndGo(s)">{{s}}  &nbsp;</span>
                </i>
            </p>
            <p><i class="item item-divider">Intersections:</i>

                <i class="item"><span class="button-clear" ng-repeat="s in data.exampleIntersections" ng-click="searchAndGo(s)">{{s}}</i>
            </p>
        </div>

        <div class="card" ng-show="data.showFavs">
            <p>Your Favorite Stops:</p>
            <ion-list>
                <ion-item ng-repeat="item in data.favorites " href="#/tab/atstop/{{item.stopId}}/{{item.stopName}}">
                    {{item.stopName}}
                </ion-item>
            </ion-list>
        </div>

        <p>{{data.notifications}}</p>
    </ion-content>
</ion-view>