<ion-view title="Nearby Stops">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="refresh()">
            <i class="icon ion-refresh"></i>
        </button>
    </ion-nav-buttons>

    <ion-content ng-show="data.loaded" has-bouncing="true">
        <p class="highlight">Nearby Stops:</p>

        <ion-list>
            <ion-item ng-repeat="item in data.stops" href="#/tab/atstop/{{item.id}}/{{item.name | encodeStopName}}">
                {{item.name}}
            </ion-item>
        </ion-list>

        <p>{{data.notifications}}</p>
    </ion-content>
</ion-view>
