<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-only">
    <ion-tab title="Search" icon="icon ion-search" href="#/tab/home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Favorites" icon="icon ion-star" href="#/tab/favorites">
        <ion-nav-view name="tab-favorites"></ion-nav-view>
    </ion-tab>


    <ion-tab title="Nearby" icon="icon ion-location" href="#/tab/nearby-stops-and-routes">
        <ion-nav-view name="tab-nearby-stops-and-routes"></ion-nav-view>
    </ion-tab>

</ion-tabs>
