<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-positive">
    <ion-tab title="Home" icon="icon ion-home" href="#/tab/home">
        Home
        <ion-nav-view name="tab-home"></ion-nav-view>

    </ion-tab>

    <ion-tab title="Favorites" icon="icon ion-star" href="#/tab/favorites">
        <ion-nav-view name="tab-favorites"></ion-nav-view>
        Favorites
    </ion-tab>


    <ion-tab title="Nearby Stops" icon="icon ion-location" href="#/tab/nearby-stops">
        <ion-nav-view name="tab-nearby-stops"></ion-nav-view>
        Nearby Stops
    </ion-tab>

</ion-tabs>
