# Ignore everything
*


# But not these files…
!.gitignore
!/gulpfile.js
!/setup.sh
!/bower.json
!/package.json
!apache-license-2.0.md
!civic.json
!ProductSpec.md
!/karma.conf.js
!hooks/*
!scss/ionic.app.scss
!www/SpecRunner.html
!www/index.html
!www/css/CSS_README
!www/img/bus_icons/*
!www/img/stop_icons/*
!js/*.js
!www/js/JS_README
!www/lib/angular-cache/*
!www/lib/angular-leaflet/*
!www/lib/angular-inview/*
!www/lib/leaflet/*
!www/lib/leaflet/images/*
!www/lib/leaflet/plugins/*
!www/lib/moment/*
!www/lib/underscore/*
!www/lib/angular-timer/*
!www/lib/round-progress/*
!www/lib/angular-simple-logger/*
!www/templates/about.html
!www/templates/atstop.html
!www/templates/geolocation.html
!www/templates/map.html
!www/templates/route.html
!www/templates/stopcode.html
!www/templates/tab-favorites.html
!www/templates/tab-home.html
!www/templates/tab-nearby-stops-and-routes.html
!www/templates/tabs.html

# …even if they are in subdirectories
!*/

# and specifically ignore these
.DS\_Store
*.sw?
engine/*
platforms/*
config.js

