<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.khurshidfayzullaev.bustime" versionCode="1" version="1.0">

    <preference name="phonegap-version" value="3.3.0" />

    <!-- modify to compile for iOS, Windows Mobile, and etc. -->
    <!-- <gap:platform name="ios" />-->
    <gap:platform name="android" />
    <!-- <gap:platform name="webos" /> -->
    <!-- <gap:platform name="symbian" /> -->
    <!-- <gap:platform name="blackberry" /> -->
    <!-- <gap:platform name="winphone" /> -->

    <name>MTA Bus Time</name>

    <description>
        Get information about when the next bus will arrive at your stop.
    </description>

    <author href="https://github.com/khfayzullaev" email="khurshidfayzullaev@yahoo.com">
        Khurshid Fayzullaev
    </author>

    <!-- permissions -->
    <preference name="permissions" value="none" />
    <feature name="http://api.phonegap.com/1.0/geolocation" />
    <feature name="http://api.phonegap.com/1.0/network" />

    <!-- access network information -->
    <!-- Supported in Phonegap 3.3.0 and + -->
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.network-information" />

    <!-- clean cache -->
    <!-- Supported in Phonegap 3.3.0 and + -->
    <gap:plugin name="com.sharinglabs.cordova.plugin.cache" version="1.0.0" />
</widget>
