<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.khurshidfayzullaev.atstop" versionCode="1" version="1.0">

    <preference name="phonegap-version" value="3.5.0" />

    <!-- modify to compile for iOS, Windows Mobile, and etc. -->
    <gap:platform name="ios" />
    <gap:platform name="android" />
    <!-- <gap:platform name="webos" /> -->
    <!-- <gap:platform name="symbian" /> -->
    <!-- <gap:platform name="blackberry" /> -->
    <!-- <gap:platform name="winphone" /> -->

    <preference name="EnableViewportScale" value="true" />
    <meta name='viewport' content='width=device-width, height=device-height, initial-scale=1, user-scalable=no' />
    <preference name="TopActivityIndicator" value="white" />
    <preference name="SuppressesIncrementalRendering" value="true" />

    <!-- TestFlight -->
    <!--    <gap:plugin name="com.testflightapp.cordova-plugin" version="2.0.0" />-->
    <gap:splash src="resources/images/splashes/splash_720x1280.png" gap:platform="ios" width="640" height="1136" />

    <name>At Stop</name>

    <description>
        Get information about when the next bus will arrive at your stop.
    </description>

    <author href="http://khfayzullaev.bitbucket.org/atstop" email="khurshidfayzullaev@yahoo.com">
        Khurshid Fayzullaev
    </author>

    <!-- Android icons -->
    <icon src="resources/images/icons/icon_36x36.png" gap:platform="android" gap:density="ldpi" />
    <icon src="resources/images/icons/icon_48x48.png" gap:platform="android" gap:density="mdpi" />
    <icon src="resources/images/icons/icon_72x72.png" gap:platform="android" gap:density="hdpi" />
    <icon src="resources/images/icons/icon_96x96.png" gap:platform="android" gap:density="xhdpi" />

    <!-- Android splashes -->
    <gap:splash src="resources/images/splashes/splash_200x320.png" gap:platform="android" gap:density="ldpi" />
    <gap:splash src="resources/images/splashes/splash_320x480.png" gap:platform="android" gap:density="mdpi" />
    <gap:splash src="resources/images/splashes/splash_480x800.png" gap:platform="android" gap:density="hdpi" />
    <gap:splash src="resources/images/splashes/splash_720x1280.png" gap:platform="android" gap:density="xhdpi" />

    <!-- resume to the same place (android) -->
    <preference name="AndroidLaunchMode" value="singleTask" />

    <!-- permissions -->
    <preference name="permissions" value="none" />

    <!-- access network information -->
    <!-- Supported in Phonegap 3.3.0 and + -->
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.network-information" />

    <!-- notifications -->
    <gap:plugin name="org.apache.cordova.dialogs" />

    <!-- clean cache -->
    <!-- Supported in Phonegap 3.3.0 and + -->
    <gap:plugin name="com.sharinglabs.cordova.plugin.cache" />

    <!-- hide the status bar on iOS 7 devices -->
    <gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0" />
    <gap:config-file platform="ios" parent="UIStatusBarHidden">
        <true/>
    </gap:config-file>

    <gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance">
        <false/>
    </gap:config-file>
</widget>