/* custom fonts */

@font-face {
    font-family: Bariol_Regular;
    src: url(../fonts/Bariol_Regular.otf);
}
/* Search Input */

input[data-type="search"] {
    text-transform: uppercase;
}
/* Single-direction drop shadow */

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
/* remove all shadows */

* {
    font: 18px Bariol_Regular !important;
    box-shadow: none !important;
}
/* btns style */

#refresh {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#add-to-favorites {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#remove-from-favorites {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/*
#info li:nth-child(even) {
    background-color: #eeeeee;
}
*/

/* content */

.ui-content {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px !important;
}
/* header */

.header {
    z-index: 999;
}
/* map*/

#map {
    height: 100%;
    margin: -10px;
    padding-bottom: 20px;
}
/* leaflet-control */

.leaflet-control a {
    font-size: 12px;
}
#info > li * {
    white-space: normal;
}