html {
    font-family: sans-serif;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}
.scroll,
.angular-leaflet-map {
    height: 100%;
}
p {
    margin: 15px;
}
div.route {
    font-size: 1.4em;
    vertical-align: middle;
}
.rightAlign {
    float: right;
}
.largeIcon {
    font-size: 1.5em;
}
p.highlight {
    font-weight: bolder;
    background: #eeeeee;
    margin: 0;
    padding: 15px;
}
p.alerts {
    font-size: 12px;
    color: #B21212;
    margin-bottom: 0;
    margin-top: 8px;
}
.bus {
    padding-left: 5px;
    padding-top: 5px;
}
.novmargin {
    margin: 0;
}
.greytext {
    color: #666;
}
body {
    font-size: 1em;
    line-height: 1.4;
    margin: 0;
}
pre {
    overflow: auto;
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    /* 1 */
    font: inherit;
    /* 2 */
    margin: 0;
    /* 3 */
}
button,
select {
    text-transform: none;
}
label.item.item-input {
    margin-top: 1px;
    border-color: #111;
}
.list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.01s all linear;
}
.list .item.item-accordion.ng-hide {
    line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important;
}